{%extends 'base.html' %}

{% block title %}Login{% endblock %}
{%block content %}
  
  <section class=" gradient-form" style="background-color: #eee;">
      <div class="container  py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10 ">
          <div class="card rounded-3 text-black ">
            <div class="row g-5 justify-content-center align-items-center">
              <div class="col-lg-6 ">
                <div class="card-body p-md-5 mx-md-0">

                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                  </div>

                  <form action='login' method='post'>
                    {% csrf_token %}
                    <p>Please login to your account</p>

                    <div class="form-outline mb-0">
                      <input type="text" id="form2Example11" class="form-control" placeholder="username" name='username' required=True/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" placeholder="password" name='password' required=True/>
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                        {% comment %} <a type="button"  class="btn btn-primary" href="login">Login</a> {% endcomment %}
                        <button class="btn btn-primary auth-btn">Log in</button>
                        {% comment %} <a class="text-muted" href="#!">Forgot password?</a> {% endcomment %}
                    </div>
                </form>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a type="button"  class="btn btn-danger" href="register">Create new</a>
                    </div>


                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock%}